<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Home">
  <test thread-count="1" name="Continue">
    <classes>
      <class name="BaseA.testcase1"/>

    </classes>
  </test>
  
  <test thread-count="2" name="Accept">
  <classes>
  <class name="BaseA.testcase1"/>
 
  </classes>
  </test>
  
</suite>

